In [34]:
1+2

3

In [35]:
print "Hello World"

Hello World

In [77]:
import geopy
from geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("42nd STREET & 8th AVENUE NYC")
print(location.address)

AttributeError: 'NoneType' object has no attribute 'address'

In [64]:
from pandas  import *
from numpy  import *
options.display.max_columns = 100

data = pandas.io.parsers.read_csv("/Users/Eric/Documents/Data Analysis/fares.csv",quotechar='"', header=2)
data

,REMOTE,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,14-D RFM UNL,1-D UNL,14-D UNL,7D-XBUS PASS,TCMC,RF 2 TRIP,RR UNL NO TRADE,TCMC ANNUAL MC,MR EZPAY EXP,MR EZPAY UNL,PATH 2-T,AIRTRAIN FF,AIRTRAIN 30-D,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,
0,R001,WHITEHALL STREET,42006,1454,211,570,268,16607,18903,0,0,0,257,623,410,530,1793,679,188,0,660,0,0,0,1632,...
1,R003,CYPRESS HILLS,3682,195,27,16,7,2202,1262,0,0,0,0,32,67,5,61,13,3,0,33,0,0,0,917,...
2,R004,75TH STREET & ELDERTS LANE,8878,423,36,115,8,4880,4085,0,0,0,4,101,173,8,252,16,49,0,79,0,0,0,4644,...
3,R005,85TH STREET & FOREST PKWAY,9903,543,46,147,2,4794,5091,0,0,0,2,76,215,0,214,39,70,0,86,0,0,0,2219,...
4,R006,WOODHAVEN BOULEVARD,9806,550,44,171,9,6747,5966,0,0,0,9,100,178,13,294,49,60,0,77,0,0,0,2119,...
5,R007,104TH STREET,6916,340,42,58,8,3262,3063,0,0,0,5,73,108,6,131,17,34,0,59,0,0,0,1541,...
6,R008,111TH STREET,6069,276,46,47,6,3165,2439,0,0,0,1,61,96,12,147,48,2,0,27,0,0,0,2843,...
7,R009,121ST STREET,5429,268,29,77,8,3530,2515,0,0,0,3,48,65,7,105,41,26,0,45,0,0,0,842,...
8,R010,42ND STREET & 8TH AVENUE,93084,4637,387,1073,164,44135,53321,0,0,0,251,832,907,217,3696,1170,667,0,2105,0,0,0,2667,...
9,R011,42ND STREET & 8TH AVENUE,250672,11149,450,1598,181,39585,73802,0,0,0,177,3006,3311,123,4366,4309,1078,0,2298,0,0,0,1882,...
10,R012,34TH STREET & 8TH AVENUE,231922,9512,606,1479,5617,44576,78517,0,0,0,664,2631,2299,7329,4925,5129,1274,1,3018,0,0,0,2941,...
11,R013,34TH STREET & 8TH AVENUE,55645,2550,213,699,1297,16557,32391,0,0,0,320,761,278,2477,1685,1263,442,0,777,0,0,0,983,...
12,R014,FULTON STREET,100827,3544,203,659,942,28845,56450,0,0,0,442,1790,498,1735,4783,1799,869,0,1210,0,0,0,3699,...
13,R015,FIFTH AVENUE,88005,3396,90,450,1467,16792,34283,0,0,0,284,2422,301,1993,3431,2592,533,0,1301,0,0,0,535,...
14,R016,LEXINGTON AVENUE,22471,1127,45,202,166,6012,13471,0,0,0,104,534,73,141,1136,475,223,0,302,0,0,0,272,...
15,R017,LEXINGTON AVENUE,107595,5887,255,958,1051,23830,59264,0,0,0,310,2515,648,1748,4702,3086,911,0,1408,0,0,0,4003,...
16,R018,ROOSEVELT AVE/JACKSON HTS,95929,7759,926,2901,24,62270,110681,0,0,0,79,819,1451,78,5001,692,526,0,966,0,0,0,8430,...
17,R019,179TH STREET & HILLSIDE AVE,35829,2169,314,871,10,20748,30179,0,0,0,60,782,704,22,2591,417,148,0,194,0,0,0,4228,...
18,R020,47-50 STREETS/ROCKEFELLER,185612,8874,407,1377,999,58892,102798,0,1,0,712,4220,1055,1059,9073,3591,1367,0,2105,0,0,0,3619,...
19,R021,42ND STREET & 6TH AVENUE,107025,4897,354,1140,188,37856,79367,0,0,0,399,3088,615,204,6944,2127,988,0,1111,0,0,0,1957,...
20,R022,34TH STREET & 6TH AVENUE,207652,10582,692,2178,997,84002,132986,0,0,0,1719,3109,2044,1132,9078,2602,1420,0,2690,0,0,0,3999,...
21,R023,34TH STREET & 6TH AVENUE,152636,6660,473,1461,841,39855,83842,0,0,0,285,2897,1157,1007,5152,2694,1101,0,1411,0,0,0,2258,...
22,R024,SUTPHIN BOULEVARD,45887,2283,316,741,435,26276,22188,0,0,0,25,337,897,632,1541,518,197,0,7372,0,0,0,2543,...
23,R025,JAMAICA CENTER-PARSONS BLVD,63309,2093,554,1217,38,54622,39729,0,0,0,73,445,1120,21,3622,255,221,0,447,0,0,0,7454,...
24,R027,WALL STREET,74185,2820,156,463,2057,15022,44806,0,0,0,221,1693,268,3697,4237,1786,571,0,615,0,0,0,1685,...
25,R028,FULTON & WILLIAM STREETS,71397,3593,252,921,725,22603,52768,0,0,0,201,1190,450,1056,4477,1164,780,0,947,0,0,0,3058,...
26,R029,PARK PLACE,159827,6302,352,1216,1319,40303,81840,0,0,0,1704,2844,1024,2318,4867,2730,1208,0,1978,0,0,0,7382,...
27,R030,CHAMBERS STREET,58704,2942,131,578,782,21302,40992,0,0,0,176,1025,302,1469,2322,1098,482,0,465,0,0,0,10930,...
28,R031,34TH STREET & 7TH AVENUE,121813,6310,381,965,2396,34546,46177,0,0,0,382,1483,969,3941,4062,2478,656,0,1118,0,0,0,2228,...
29,R032,42ND STREET/TIMES SQUARE,98958,4166,277,864,275,30543,72373,0,0,0,356,2202,468,205,5175,1928,940,0,788,0,0,0,1117,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,R450,LONGWOOD AVE-SOUTHERN BLVD,7378,380,25,93,2,6349,3187,0,0,0,4,35,259,12,275,31,19,0,19,0,0,0,2494,...
435,R451,WINTHROP ST-NOSTRAND AVE,16833,1082,169,285,57,9093,10827,0,0,0,34,131,278,49,1570,134,135,0,96,0,0,0,3975,...
436,R452,72ND STREET & BROADWAY,97663,11049,567,2103,174,39936,83971,0,0,0,206,1676,1377,285,5150,2026,1068,0,1250,0,0,0,9334,...
437,R453,23RD STREET-6TH AVENUE,28742,1555,110,440,10,11491,28078,0,0,0,97,518,149,27,1798,573,381,0,408,0,0,0,1431,...
438,R454,PROSPECT AVE-4TH AVE,2386,147,12,14,0,1124,1581,0,0,0,5,6,39,0,38,13,15,0,19,0,0,0,1227,...
439,R455,25TH STREET-4TH AVENUE,2043,162,14,28,0,1215,1100,0,0,0,3,22,33,1,36,15,5,0,12,0,0,0,577,...
440,R456,HOYT STREET-FULTON STREET,5614,341,55,92,37,2816,4329,0,0,0,29,51,37,18,367,104,58,0,52,0,0,0,243,...
441,R460,MARCY AVENUE-BROADWAY,30076,1429,137,505,14,15583,19066,0,0,0,23,240,534,22,1113,252,212,0,502,0,0,0,3223,...
442,R461,BROADWAY LAFAYETTE-BLEECKER,62235,2266,189,419,165,28893,51446,0,0,0,164,930,343,243,2748,995,713,0,1087,0,0,0,2676,...
443,R462,CANAL STREET-BROADWAY,31995,1365,65,315,33,13064,21994,0,0,0,83,393,192,40,943,386,358,0,518,0,0,0,840,...
444,R463,CANAL ST-LAFAYETTE ST EAST,52331,6211,233,2607,136,19157,42807,0,0,0,220,680,633,355,1605,543,433,0,879,0,0,0,2221,...
445,R464,AQUEDUCT RACE TRACK,4468,1979,176,343,2,1839,1761,0,0,0,5,32,684,1,102,12,10,0,37,0,0,0,26,...
446,R468,RI TRAMWAY (MANHATTAN),4267,590,48,160,4,3185,8177,0,0,0,13,49,7,19,404,73,82,0,123,0,0,0,387,...
447,R469,RI TRAMWAY (ROOSEVELT),6126,956,45,155,4,3313,8153,0,0,0,23,65,34,17,393,108,122,0,136,0,0,0,950,...
448,R535,AIRTRAIN @ HOWARD BEACH,15663,114,0,0,8,0,0,0,0,0,0,127,0,0,0,227,0,0,15723,5856,1260,38,0,...
449,R536,AIRTRAIN JAMAICA CENTER 1,29021,115,0,0,91,0,0,0,0,0,0,222,0,0,0,465,0,0,36254,17906,4641,1058,0,...
450,R538,LGA AIRPORT CTB,11,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
451,R540,PA-PATH WORLD TRADE CNTR,81366,0,0,0,73,0,0,0,0,0,0,867,0,0,0,0,0,3966,609,0,0,0,0,...
452,R541,PA-PATH THIRTY THIRD ST,78387,0,0,0,138,0,0,0,0,0,0,859,0,0,0,0,0,8312,639,0,0,0,0,...
453,R542,PA-PATH TWENTY THIRD ST,15400,0,0,0,5,0,0,0,0,0,0,227,0,0,0,0,0,852,118,0,0,0,0,...
454,R543,PA-PATH EXCHANGE PLACE,25877,0,0,0,102,0,0,0,0,0,0,222,0,0,0,0,0,1479,230,0,0,0,0,...
455,R544,PA-PATH HARRISON,13172,0,0,0,0,0,0,0,0,0,0,157,0,0,0,0,0,2165,56,0,0,0,0,...
456,R545,PA-PATH 14TH STREET,21585,0,0,0,11,0,0,0,0,0,0,206,0,0,0,0,0,1184,188,0,0,0,0,...
457,R546,PA-PATH PAVONIA/NEWPORT,31221,0,0,0,83,0,0,0,0,0,0,246,0,0,0,0,0,3144,368,0,0,0,0,...
458,R547,PA-PATH 9TH STREET,10842,0,0,0,1,0,0,0,0,0,0,108,0,0,0,0,0,521,131,0,0,0,0,...
459,R548,PA-PATH CHRISTOPHER ST,10571,0,0,0,6,0,0,0,0,0,0,112,0,0,0,0,0,403,89,0,0,0,0,...
460,R549,PA-PATH NEWARK,55375,0,0,0,11,0,0,0,0,0,0,335,0,0,0,0,0,8642,320,0,0,0,0,...
461,R550,PA-PATH HOBOKEN,59482,0,0,0,45,0,0,0,0,0,0,677,0,0,0,0,0,2305,419,0,0,0,0,...
462,R551,PA-PATH GROVE ST,31207,0,0,0,15,0,0,0,0,0,0,444,0,0,0,0,0,1809,244,0,0,0,0,...
463,R552,PA-PATH JOURNAL SQUARE,46639,0,0,0,9,0,0,0,0,0,0,395,0,0,0,0,0,5626,351,0,0,0,0,...

In [38]:
data.columns

Index([u'REMOTE', u'STATION', u'FF', u'SEN/DIS', u' 7-D AFAS UNL', u'30-D AFAS/RMF UNL', u'JOINT RR TKT', u'7-D UNL', u'30-D UNL', u'14-D RFM UNL', u'1-D UNL', u'14-D UNL', u'7D-XBUS PASS', u'TCMC', u'RF 2 TRIP', u'RR UNL NO TRADE', u'TCMC ANNUAL MC', u'MR EZPAY EXP', u'MR EZPAY UNL', u'PATH 2-T', u'AIRTRAIN FF', u'AIRTRAIN 30-D', u'AIRTRAIN 10-T', u'AIRTRAIN MTHLY', u'STUDENTS', u'                                                                                             '], dtype='object')

In [63]:
import geopy
import time
from geopy.geocoders import Nominatim
geolocator = Nominatim()

def findAddress(x):
    location = geolocator.geocode(x['STATION']+" NYC")
    time.sleep(.1)
    if location:
        x['ADDRESS'] = location.address
    return x

data=data.apply(findAddress, axis=1)

,,7-D AFAS UNL,1-D UNL,14-D RFM UNL,14-D UNL,30-D AFAS/RMF UNL,30-D UNL,7-D UNL,7D-XBUS PASS,ADDRESS,AIRTRAIN 10-T,AIRTRAIN 30-D,AIRTRAIN FF,AIRTRAIN MTHLY,FF,JOINT RR TKT,MR EZPAY EXP,MR EZPAY UNL,PATH 2-T,REMOTE,RF 2 TRIP,RR UNL NO TRADE,SEN/DIS,STATION,STUDENTS,TCMC,TCMC ANNUAL MC
0,...,211,0,0,0,570,18903,16607,257,"Whitehall Street, Oakwood Heights Station, Sta...",0,0,660,0,42006,268,679,188,0,R001,410,530,1454,WHITEHALL STREET,1632,623,1793
1,...,27,0,0,0,16,1262,2202,0,"Cypress Hills, Kings, NYC, New York, 11207, Un...",0,0,33,0,3682,7,13,3,0,R003,67,5,195,CYPRESS HILLS,917,32,61
2,...,36,0,0,0,115,4085,4880,4,"75th Street-Elderts Lane (J,Z), Jamaica Avenue...",0,0,79,0,8878,8,16,49,0,R004,173,8,423,75TH STREET & ELDERTS LANE,4644,101,252
3,...,46,0,0,0,147,5091,4794,2,NaN,0,0,86,0,9903,2,39,70,0,R005,215,0,543,85TH STREET & FOREST PKWAY,2219,76,214
4,...,44,0,0,0,171,5966,6747,9,"Woodhaven Boulevard, Elmhurst, Queens County, ...",0,0,77,0,9806,9,49,60,0,R006,178,13,550,WOODHAVEN BOULEVARD,2119,100,294
5,...,42,0,0,0,58,3063,3262,5,"104th Street, Corona, Queens County, NYC, New ...",0,0,59,0,6916,8,17,34,0,R007,108,6,340,104TH STREET,1541,73,131
6,...,46,0,0,0,47,2439,3165,1,"111th Street, East Elmhurst, Queens County, NY...",0,0,27,0,6069,6,48,2,0,R008,96,12,276,111TH STREET,2843,61,147
7,...,29,0,0,0,77,2515,3530,3,"121st Street, Richmond Hill, Queens County, NY...",0,0,45,0,5429,8,41,26,0,R009,65,7,268,121ST STREET,842,48,105
8,...,387,0,0,0,1073,53321,44135,251,NaN,0,0,2105,0,93084,164,1170,667,0,R010,907,217,4637,42ND STREET & 8TH AVENUE,2667,832,3696
9,...,450,0,0,0,1598,73802,39585,177,NaN,0,0,2298,0,250672,181,4309,1078,0,R011,3311,123,11149,42ND STREET & 8TH AVENUE,1882,3006,4366
10,...,606,0,0,0,1479,78517,44576,664,NaN,0,0,3018,0,231922,5617,5129,1274,1,R012,2299,7329,9512,34TH STREET & 8TH AVENUE,2941,2631,4925
11,...,213,0,0,0,699,32391,16557,320,NaN,0,0,777,0,55645,1297,1263,442,0,R013,278,2477,2550,34TH STREET & 8TH AVENUE,983,761,1685
12,...,203,0,0,0,659,56450,28845,442,"Fulton Street, Fort Greene, Brooklyn, Kings Co...",0,0,1210,0,100827,942,1799,869,0,R014,498,1735,3544,FULTON STREET,3699,1790,4783
13,...,90,0,0,0,450,34283,16792,284,"Saks Fifth Avenue, 611, 5th Avenue, Diamond Di...",0,0,1301,0,88005,1467,2592,533,0,R015,301,1993,3396,FIFTH AVENUE,535,2422,3431
14,...,45,0,0,0,202,13471,6012,104,"Lexington Avenue, Harlem, Manhattan, New York,...",0,0,302,0,22471,166,475,223,0,R016,73,141,1127,LEXINGTON AVENUE,272,534,1136
15,...,255,0,0,0,958,59264,23830,310,"Lexington Avenue, Harlem, Manhattan, New York,...",0,0,1408,0,107595,1051,3086,911,0,R017,648,1748,5887,LEXINGTON AVENUE,4003,2515,4702
16,...,926,0,0,0,2901,110681,62270,79,"Roosevelt Avenue, Jackson Heights, Queens Coun...",0,0,966,0,95929,24,692,526,0,R018,1451,78,7759,ROOSEVELT AVE/JACKSON HTS,8430,819,5001
17,...,314,0,0,0,871,30179,20748,60,NaN,0,0,194,0,35829,10,417,148,0,R019,704,22,2169,179TH STREET & HILLSIDE AVE,4228,782,2591
18,...,407,1,0,0,1377,102798,58892,712,NaN,0,0,2105,0,185612,999,3591,1367,0,R020,1055,1059,8874,47-50 STREETS/ROCKEFELLER,3619,4220,9073
19,...,354,0,0,0,1140,79367,37856,399,NaN,0,0,1111,0,107025,188,2127,988,0,R021,615,204,4897,42ND STREET & 6TH AVENUE,1957,3088,6944
20,...,692,0,0,0,2178,132986,84002,1719,NaN,0,0,2690,0,207652,997,2602,1420,0,R022,2044,1132,10582,34TH STREET & 6TH AVENUE,3999,3109,9078
21,...,473,0,0,0,1461,83842,39855,285,NaN,0,0,1411,0,152636,841,2694,1101,0,R023,1157,1007,6660,34TH STREET & 6TH AVENUE,2258,2897,5152
22,...,316,0,0,0,741,22188,26276,25,"Sutphin Boulevard, Jamaica, Queens County, NYC...",0,0,7372,0,45887,435,518,197,0,R024,897,632,2283,SUTPHIN BOULEVARD,2543,337,1541
23,...,554,0,0,0,1217,39729,54622,73,NaN,0,0,447,0,63309,38,255,221,0,R025,1120,21,2093,JAMAICA CENTER-PARSONS BLVD,7454,445,3622
24,...,156,0,0,0,463,44806,15022,221,"Wall Street, Southbridge Towers, New York, NYC...",0,0,615,0,74185,2057,1786,571,0,R027,268,3697,2820,WALL STREET,1685,1693,4237
25,...,252,0,0,0,921,52768,22603,201,NaN,0,0,947,0,71397,725,1164,780,0,R028,450,1056,3593,FULTON & WILLIAM STREETS,3058,1190,4477
26,...,352,0,0,0,1216,81840,40303,1704,"Park Place, Crown Heights, Brooklyn, Kings Cou...",0,0,1978,0,159827,1319,2730,1208,0,R029,1024,2318,6302,PARK PLACE,7382,2844,4867
27,...,131,0,0,0,578,40992,21302,176,"Chambers Street, Tribeca, New York, NYC, New Y...",0,0,465,0,58704,782,1098,482,0,R030,302,1469,2942,CHAMBERS STREET,10930,1025,2322
28,...,381,0,0,0,965,46177,34546,382,NaN,0,0,1118,0,121813,2396,2478,656,0,R031,969,3941,6310,34TH STREET & 7TH AVENUE,2228,1483,4062
29,...,277,0,0,0,864,72373,30543,356,"42nd Street -Times Square (S), Broadway, Diamo...",0,0,788,0,98958,275,1928,940,0,R032,468,205,4166,42ND STREET/TIMES SQUARE,1117,2202,5175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,...,25,0,0,0,93,3187,6349,4,"Longwood Avenue (6), Southern Boulevard, Hunts...",0,0,19,0,7378,2,31,19,0,R450,259,12,380,LONGWOOD AVE-SOUTHERN BLVD,2494,35,275
435,...,169,0,0,0,285,10827,9093,34,NaN,0,0,96,0,16833,57,134,135,0,R451,278,49,1082,WINTHROP ST-NOSTRAND AVE,3975,131,1570
436,...,567,0,0,0,2103,83971,39936,206,"72nd Street (1,2,3), Broadway, Upper West Side...",0,0,1250,0,97663,174,2026,1068,0,R452,1377,285,11049,72ND STREET & BROADWAY,9334,1676,5150
437,...,110,0,0,0,440,28078,11491,97,"23rd Street (F,M,PATH), 6th Avenue, Flatiron, ...",0,0,408,0,28742,10,573,381,0,R453,149,27,1555,23RD STREET-6TH AVENUE,1431,518,1798
438,...,12,0,0,0,14,1581,1124,5,NaN,0,0,19,0,2386,0,13,15,0,R454,39,0,147,PROSPECT AVE-4TH AVE,1227,6,38
439,...,14,0,0,0,28,1100,1215,3,NaN,0,0,12,0,2043,0,15,5,0,R455,33,1,162,25TH STREET-4TH AVENUE,577,22,36
440,...,55,0,0,0,92,4329,2816,29,NaN,0,0,52,0,5614,37,104,58,0,R456,37,18,341,HOYT STREET-FULTON STREET,243,51,367
441,...,137,0,0,0,505,19066,15583,23,NaN,0,0,502,0,30076,14,252,212,0,R460,534,22,1429,MARCY AVENUE-BROADWAY,3223,240,1113
442,...,189,0,0,0,419,51446,28893,164,NaN,0,0,1087,0,62235,165,995,713,0,R461,343,243,2266,BROADWAY LAFAYETTE-BLEECKER,2676,930,2748
443,...,65,0,0,0,315,21994,13064,83,"Canal Street, Broadway, University Village, Ne...",0,0,518,0,31995,33,386,358,0,R462,192,40,1365,CANAL STREET-BROADWAY,840,393,943
444,...,233,0,0,0,2607,42807,19157,220,NaN,0,0,879,0,52331,136,543,433,0,R463,633,355,6211,CANAL ST-LAFAYETTE ST EAST,2221,680,1605
445,...,176,0,0,0,343,1761,1839,5,NaN,0,0,37,0,4468,2,12,10,0,R464,684,1,1979,AQUEDUCT RACE TRACK,26,32,102
446,...,48,0,0,0,160,8177,3185,13,NaN,0,0,123,0,4267,4,73,82,0,R468,7,19,590,RI TRAMWAY (MANHATTAN),387,49,404
447,...,45,0,0,0,155,8153,3313,23,NaN,0,0,136,0,6126,4,108,122,0,R469,34,17,956,RI TRAMWAY (ROOSEVELT),950,65,393
448,...,0,0,0,0,0,0,0,0,"AirTrain JFK, Aqueduct Access Road, Howard Bea...",1260,5856,15723,38,15663,8,227,0,0,R535,0,0,114,AIRTRAIN @ HOWARD BEACH,0,127,0
449,...,0,0,0,0,0,0,0,0,NaN,4641,17906,36254,1058,29021,91,465,0,0,R536,0,0,115,AIRTRAIN JAMAICA CENTER 1,0,222,0
450,...,0,0,0,0,0,0,1,0,NaN,0,0,0,0,11,0,0,0,0,R538,0,0,0,LGA AIRPORT CTB,0,0,0
451,...,0,0,0,0,0,0,0,0,NaN,0,0,609,0,81366,73,0,0,3966,R540,0,0,0,PA-PATH WORLD TRADE CNTR,0,867,0
452,...,0,0,0,0,0,0,0,0,NaN,0,0,639,0,78387,138,0,0,8312,R541,0,0,0,PA-PATH THIRTY THIRD ST,0,859,0
453,...,0,0,0,0,0,0,0,0,NaN,0,0,118,0,15400,5,0,0,852,R542,0,0,0,PA-PATH TWENTY THIRD ST,0,227,0
454,...,0,0,0,0,0,0,0,0,NaN,0,0,230,0,25877,102,0,0,1479,R543,0,0,0,PA-PATH EXCHANGE PLACE,0,222,0
455,...,0,0,0,0,0,0,0,0,NaN,0,0,56,0,13172,0,0,0,2165,R544,0,0,0,PA-PATH HARRISON,0,157,0
456,...,0,0,0,0,0,0,0,0,NaN,0,0,188,0,21585,11,0,0,1184,R545,0,0,0,PA-PATH 14TH STREET,0,206,0
457,...,0,0,0,0,0,0,0,0,NaN,0,0,368,0,31221,83,0,0,3144,R546,0,0,0,PA-PATH PAVONIA/NEWPORT,0,246,0
458,...,0,0,0,0,0,0,0,0,NaN,0,0,131,0,10842,1,0,0,521,R547,0,0,0,PA-PATH 9TH STREET,0,108,0
459,...,0,0,0,0,0,0,0,0,NaN,0,0,89,0,10571,6,0,0,403,R548,0,0,0,PA-PATH CHRISTOPHER ST,0,112,0
460,...,0,0,0,0,0,0,0,0,NaN,0,0,320,0,55375,11,0,0,8642,R549,0,0,0,PA-PATH NEWARK,0,335,0
461,...,0,0,0,0,0,0,0,0,NaN,0,0,419,0,59482,45,0,0,2305,R550,0,0,0,PA-PATH HOBOKEN,0,677,0
462,...,0,0,0,0,0,0,0,0,NaN,0,0,244,0,31207,15,0,0,1809,R551,0,0,0,PA-PATH GROVE ST,0,444,0
463,...,0,0,0,0,0,0,0,0,NaN,0,0,351,0,46639,9,0,0,5626,R552,0,0,0,PA-PATH JOURNAL SQUARE,0,395,0

In [66]:
data

,,7-D AFAS UNL,1-D UNL,14-D RFM UNL,14-D UNL,30-D AFAS/RMF UNL,30-D UNL,7-D UNL,7D-XBUS PASS,ADDRESS,AIRTRAIN 10-T,AIRTRAIN 30-D,AIRTRAIN FF,AIRTRAIN MTHLY,FF,JOINT RR TKT,MR EZPAY EXP,MR EZPAY UNL,PATH 2-T,REMOTE,RF 2 TRIP,RR UNL NO TRADE,SEN/DIS,STATION,STUDENTS,TCMC,TCMC ANNUAL MC
0,...,211,0,0,0,570,18903,16607,257,"Whitehall Street, Oakwood Heights Station, Sta...",0,0,660,0,42006,268,679,188,0,R001,410,530,1454,WHITEHALL STREET,1632,623,1793
1,...,27,0,0,0,16,1262,2202,0,"Cypress Hills, Kings, NYC, New York, 11207, Un...",0,0,33,0,3682,7,13,3,0,R003,67,5,195,CYPRESS HILLS,917,32,61
2,...,36,0,0,0,115,4085,4880,4,"75th Street-Elderts Lane (J,Z), Jamaica Avenue...",0,0,79,0,8878,8,16,49,0,R004,173,8,423,75TH STREET & ELDERTS LANE,4644,101,252
3,...,46,0,0,0,147,5091,4794,2,NaN,0,0,86,0,9903,2,39,70,0,R005,215,0,543,85TH STREET & FOREST PKWAY,2219,76,214
4,...,44,0,0,0,171,5966,6747,9,"Woodhaven Boulevard, Elmhurst, Queens County, ...",0,0,77,0,9806,9,49,60,0,R006,178,13,550,WOODHAVEN BOULEVARD,2119,100,294
5,...,42,0,0,0,58,3063,3262,5,"104th Street, Corona, Queens County, NYC, New ...",0,0,59,0,6916,8,17,34,0,R007,108,6,340,104TH STREET,1541,73,131
6,...,46,0,0,0,47,2439,3165,1,"111th Street, East Elmhurst, Queens County, NY...",0,0,27,0,6069,6,48,2,0,R008,96,12,276,111TH STREET,2843,61,147
7,...,29,0,0,0,77,2515,3530,3,"121st Street, Richmond Hill, Queens County, NY...",0,0,45,0,5429,8,41,26,0,R009,65,7,268,121ST STREET,842,48,105
8,...,387,0,0,0,1073,53321,44135,251,NaN,0,0,2105,0,93084,164,1170,667,0,R010,907,217,4637,42ND STREET & 8TH AVENUE,2667,832,3696
9,...,450,0,0,0,1598,73802,39585,177,NaN,0,0,2298,0,250672,181,4309,1078,0,R011,3311,123,11149,42ND STREET & 8TH AVENUE,1882,3006,4366
10,...,606,0,0,0,1479,78517,44576,664,NaN,0,0,3018,0,231922,5617,5129,1274,1,R012,2299,7329,9512,34TH STREET & 8TH AVENUE,2941,2631,4925
11,...,213,0,0,0,699,32391,16557,320,NaN,0,0,777,0,55645,1297,1263,442,0,R013,278,2477,2550,34TH STREET & 8TH AVENUE,983,761,1685
12,...,203,0,0,0,659,56450,28845,442,"Fulton Street, Fort Greene, Brooklyn, Kings Co...",0,0,1210,0,100827,942,1799,869,0,R014,498,1735,3544,FULTON STREET,3699,1790,4783
13,...,90,0,0,0,450,34283,16792,284,"Saks Fifth Avenue, 611, 5th Avenue, Diamond Di...",0,0,1301,0,88005,1467,2592,533,0,R015,301,1993,3396,FIFTH AVENUE,535,2422,3431
14,...,45,0,0,0,202,13471,6012,104,"Lexington Avenue, Harlem, Manhattan, New York,...",0,0,302,0,22471,166,475,223,0,R016,73,141,1127,LEXINGTON AVENUE,272,534,1136
15,...,255,0,0,0,958,59264,23830,310,"Lexington Avenue, Harlem, Manhattan, New York,...",0,0,1408,0,107595,1051,3086,911,0,R017,648,1748,5887,LEXINGTON AVENUE,4003,2515,4702
16,...,926,0,0,0,2901,110681,62270,79,"Roosevelt Avenue, Jackson Heights, Queens Coun...",0,0,966,0,95929,24,692,526,0,R018,1451,78,7759,ROOSEVELT AVE/JACKSON HTS,8430,819,5001
17,...,314,0,0,0,871,30179,20748,60,NaN,0,0,194,0,35829,10,417,148,0,R019,704,22,2169,179TH STREET & HILLSIDE AVE,4228,782,2591
18,...,407,1,0,0,1377,102798,58892,712,NaN,0,0,2105,0,185612,999,3591,1367,0,R020,1055,1059,8874,47-50 STREETS/ROCKEFELLER,3619,4220,9073
19,...,354,0,0,0,1140,79367,37856,399,NaN,0,0,1111,0,107025,188,2127,988,0,R021,615,204,4897,42ND STREET & 6TH AVENUE,1957,3088,6944
20,...,692,0,0,0,2178,132986,84002,1719,NaN,0,0,2690,0,207652,997,2602,1420,0,R022,2044,1132,10582,34TH STREET & 6TH AVENUE,3999,3109,9078
21,...,473,0,0,0,1461,83842,39855,285,NaN,0,0,1411,0,152636,841,2694,1101,0,R023,1157,1007,6660,34TH STREET & 6TH AVENUE,2258,2897,5152
22,...,316,0,0,0,741,22188,26276,25,"Sutphin Boulevard, Jamaica, Queens County, NYC...",0,0,7372,0,45887,435,518,197,0,R024,897,632,2283,SUTPHIN BOULEVARD,2543,337,1541
23,...,554,0,0,0,1217,39729,54622,73,NaN,0,0,447,0,63309,38,255,221,0,R025,1120,21,2093,JAMAICA CENTER-PARSONS BLVD,7454,445,3622
24,...,156,0,0,0,463,44806,15022,221,"Wall Street, Southbridge Towers, New York, NYC...",0,0,615,0,74185,2057,1786,571,0,R027,268,3697,2820,WALL STREET,1685,1693,4237
25,...,252,0,0,0,921,52768,22603,201,NaN,0,0,947,0,71397,725,1164,780,0,R028,450,1056,3593,FULTON & WILLIAM STREETS,3058,1190,4477
26,...,352,0,0,0,1216,81840,40303,1704,"Park Place, Crown Heights, Brooklyn, Kings Cou...",0,0,1978,0,159827,1319,2730,1208,0,R029,1024,2318,6302,PARK PLACE,7382,2844,4867
27,...,131,0,0,0,578,40992,21302,176,"Chambers Street, Tribeca, New York, NYC, New Y...",0,0,465,0,58704,782,1098,482,0,R030,302,1469,2942,CHAMBERS STREET,10930,1025,2322
28,...,381,0,0,0,965,46177,34546,382,NaN,0,0,1118,0,121813,2396,2478,656,0,R031,969,3941,6310,34TH STREET & 7TH AVENUE,2228,1483,4062
29,...,277,0,0,0,864,72373,30543,356,"42nd Street -Times Square (S), Broadway, Diamo...",0,0,788,0,98958,275,1928,940,0,R032,468,205,4166,42ND STREET/TIMES SQUARE,1117,2202,5175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
434,...,25,0,0,0,93,3187,6349,4,"Longwood Avenue (6), Southern Boulevard, Hunts...",0,0,19,0,7378,2,31,19,0,R450,259,12,380,LONGWOOD AVE-SOUTHERN BLVD,2494,35,275
435,...,169,0,0,0,285,10827,9093,34,NaN,0,0,96,0,16833,57,134,135,0,R451,278,49,1082,WINTHROP ST-NOSTRAND AVE,3975,131,1570
436,...,567,0,0,0,2103,83971,39936,206,"72nd Street (1,2,3), Broadway, Upper West Side...",0,0,1250,0,97663,174,2026,1068,0,R452,1377,285,11049,72ND STREET & BROADWAY,9334,1676,5150
437,...,110,0,0,0,440,28078,11491,97,"23rd Street (F,M,PATH), 6th Avenue, Flatiron, ...",0,0,408,0,28742,10,573,381,0,R453,149,27,1555,23RD STREET-6TH AVENUE,1431,518,1798
438,...,12,0,0,0,14,1581,1124,5,NaN,0,0,19,0,2386,0,13,15,0,R454,39,0,147,PROSPECT AVE-4TH AVE,1227,6,38
439,...,14,0,0,0,28,1100,1215,3,NaN,0,0,12,0,2043,0,15,5,0,R455,33,1,162,25TH STREET-4TH AVENUE,577,22,36
440,...,55,0,0,0,92,4329,2816,29,NaN,0,0,52,0,5614,37,104,58,0,R456,37,18,341,HOYT STREET-FULTON STREET,243,51,367
441,...,137,0,0,0,505,19066,15583,23,NaN,0,0,502,0,30076,14,252,212,0,R460,534,22,1429,MARCY AVENUE-BROADWAY,3223,240,1113
442,...,189,0,0,0,419,51446,28893,164,NaN,0,0,1087,0,62235,165,995,713,0,R461,343,243,2266,BROADWAY LAFAYETTE-BLEECKER,2676,930,2748
443,...,65,0,0,0,315,21994,13064,83,"Canal Street, Broadway, University Village, Ne...",0,0,518,0,31995,33,386,358,0,R462,192,40,1365,CANAL STREET-BROADWAY,840,393,943
444,...,233,0,0,0,2607,42807,19157,220,NaN,0,0,879,0,52331,136,543,433,0,R463,633,355,6211,CANAL ST-LAFAYETTE ST EAST,2221,680,1605
445,...,176,0,0,0,343,1761,1839,5,NaN,0,0,37,0,4468,2,12,10,0,R464,684,1,1979,AQUEDUCT RACE TRACK,26,32,102
446,...,48,0,0,0,160,8177,3185,13,NaN,0,0,123,0,4267,4,73,82,0,R468,7,19,590,RI TRAMWAY (MANHATTAN),387,49,404
447,...,45,0,0,0,155,8153,3313,23,NaN,0,0,136,0,6126,4,108,122,0,R469,34,17,956,RI TRAMWAY (ROOSEVELT),950,65,393
448,...,0,0,0,0,0,0,0,0,"AirTrain JFK, Aqueduct Access Road, Howard Bea...",1260,5856,15723,38,15663,8,227,0,0,R535,0,0,114,AIRTRAIN @ HOWARD BEACH,0,127,0
449,...,0,0,0,0,0,0,0,0,NaN,4641,17906,36254,1058,29021,91,465,0,0,R536,0,0,115,AIRTRAIN JAMAICA CENTER 1,0,222,0
450,...,0,0,0,0,0,0,1,0,NaN,0,0,0,0,11,0,0,0,0,R538,0,0,0,LGA AIRPORT CTB,0,0,0
451,...,0,0,0,0,0,0,0,0,NaN,0,0,609,0,81366,73,0,0,3966,R540,0,0,0,PA-PATH WORLD TRADE CNTR,0,867,0
452,...,0,0,0,0,0,0,0,0,NaN,0,0,639,0,78387,138,0,0,8312,R541,0,0,0,PA-PATH THIRTY THIRD ST,0,859,0
453,...,0,0,0,0,0,0,0,0,NaN,0,0,118,0,15400,5,0,0,852,R542,0,0,0,PA-PATH TWENTY THIRD ST,0,227,0
454,...,0,0,0,0,0,0,0,0,NaN,0,0,230,0,25877,102,0,0,1479,R543,0,0,0,PA-PATH EXCHANGE PLACE,0,222,0
455,...,0,0,0,0,0,0,0,0,NaN,0,0,56,0,13172,0,0,0,2165,R544,0,0,0,PA-PATH HARRISON,0,157,0
456,...,0,0,0,0,0,0,0,0,NaN,0,0,188,0,21585,11,0,0,1184,R545,0,0,0,PA-PATH 14TH STREET,0,206,0
457,...,0,0,0,0,0,0,0,0,NaN,0,0,368,0,31221,83,0,0,3144,R546,0,0,0,PA-PATH PAVONIA/NEWPORT,0,246,0
458,...,0,0,0,0,0,0,0,0,NaN,0,0,131,0,10842,1,0,0,521,R547,0,0,0,PA-PATH 9TH STREET,0,108,0
459,...,0,0,0,0,0,0,0,0,NaN,0,0,89,0,10571,6,0,0,403,R548,0,0,0,PA-PATH CHRISTOPHER ST,0,112,0
460,...,0,0,0,0,0,0,0,0,NaN,0,0,320,0,55375,11,0,0,8642,R549,0,0,0,PA-PATH NEWARK,0,335,0
461,...,0,0,0,0,0,0,0,0,NaN,0,0,419,0,59482,45,0,0,2305,R550,0,0,0,PA-PATH HOBOKEN,0,677,0
462,...,0,0,0,0,0,0,0,0,NaN,0,0,244,0,31207,15,0,0,1809,R551,0,0,0,PA-PATH GROVE ST,0,444,0
463,...,0,0,0,0,0,0,0,0,NaN,0,0,351,0,46639,9,0,0,5626,R552,0,0,0,PA-PATH JOURNAL SQUARE,0,395,0

In [68]:
usefulData = data[[col for col in ["ADDRESS", "FF"]]]
usefulData

                                               ADDRESS      FF
0    Whitehall Street, Oakwood Heights Station, Sta...   42006
1    Cypress Hills, Kings, NYC, New York, 11207, Un...    3682
2    75th Street-Elderts Lane (J,Z), Jamaica Avenue...    8878
3                                                  NaN    9903
4    Woodhaven Boulevard, Elmhurst, Queens County, ...    9806
5    104th Street, Corona, Queens County, NYC, New ...    6916
6    111th Street, East Elmhurst, Queens County, NY...    6069
7    121st Street, Richmond Hill, Queens County, NY...    5429
8                                                  NaN   93084
9                                                  NaN  250672
10                                                 NaN  231922
11                                                 NaN   55645
12   Fulton Street, Fort Greene, Brooklyn, Kings Co...  100827
13   Saks Fifth Avenue, 611, 5th Avenue, Diamond Di...   88005
14   Lexington Avenue, Harlem, Manhattan, New York,...   22471
15   Lexington Avenue, Harlem, Manhattan, New York,...  107595
16   Roosevelt Avenue, Jackson Heights, Queens Coun...   95929
17                                                 NaN   35829
18                                                 NaN  185612
19                                                 NaN  107025
20                                                 NaN  207652
21                                                 NaN  152636
22   Sutphin Boulevard, Jamaica, Queens County, NYC...   45887
23                                                 NaN   63309
24   Wall Street, Southbridge Towers, New York, NYC...   74185
25                                                 NaN   71397
26   Park Place, Crown Heights, Brooklyn, Kings Cou...  159827
27   Chambers Street, Tribeca, New York, NYC, New Y...   58704
28                                                 NaN  121813
29   42nd Street -Times Square (S), Broadway, Diamo...   98958
..                                                 ...     ...
434  Longwood Avenue (6), Southern Boulevard, Hunts...    7378
435                                                NaN   16833
436  72nd Street (1,2,3), Broadway, Upper West Side...   97663
437  23rd Street (F,M,PATH), 6th Avenue, Flatiron, ...   28742
438                                                NaN    2386
439                                                NaN    2043
440                                                NaN    5614
441                                                NaN   30076
442                                                NaN   62235
443  Canal Street, Broadway, University Village, Ne...   31995
444                                                NaN   52331
445                                                NaN    4468
446                                                NaN    4267
447                                                NaN    6126
448  AirTrain JFK, Aqueduct Access Road, Howard Bea...   15663
449                                                NaN   29021
450                                                NaN      11
451                                                NaN   81366
452                                                NaN   78387
453                                                NaN   15400
454                                                NaN   25877
455                                                NaN   13172
456                                                NaN   21585
457                                                NaN   31221
458                                                NaN   10842
459                                                NaN   10571
460                                                NaN   55375
461                                                NaN   59482
462                                                NaN   31207
463                                                NaN   46639

[464 rows x 2 columns]

In [92]:
usefulData[notnull(usefulData["ADDRESS"])]

                                               ADDRESS      FF
0    Whitehall Street, Oakwood Heights Station, Sta...   42006
1    Cypress Hills, Kings, NYC, New York, 11207, Un...    3682
2    75th Street-Elderts Lane (J,Z), Jamaica Avenue...    8878
4    Woodhaven Boulevard, Elmhurst, Queens County, ...    9806
5    104th Street, Corona, Queens County, NYC, New ...    6916
6    111th Street, East Elmhurst, Queens County, NY...    6069
7    121st Street, Richmond Hill, Queens County, NY...    5429
12   Fulton Street, Fort Greene, Brooklyn, Kings Co...  100827
13   Saks Fifth Avenue, 611, 5th Avenue, Diamond Di...   88005
14   Lexington Avenue, Harlem, Manhattan, New York,...   22471
15   Lexington Avenue, Harlem, Manhattan, New York,...  107595
16   Roosevelt Avenue, Jackson Heights, Queens Coun...   95929
22   Sutphin Boulevard, Jamaica, Queens County, NYC...   45887
24   Wall Street, Southbridge Towers, New York, NYC...   74185
26   Park Place, Crown Heights, Brooklyn, Kings Cou...  159827
27   Chambers Street, Tribeca, New York, NYC, New Y...   58704
29   42nd Street -Times Square (S), Broadway, Diamo...   98958
30   42nd Street -Times Square (S), Broadway, Diamo...  190577
32   168th Street (A,C,1), Broadway, Washington Hei...   58434
33   Dyckman Street, Inwood, New York, NYC, New Yor...   14743
34   207th Street, Oakland Gardens, Queens, Queens ...   10405
35   215th Street, Oakland Gardens, Queens, Queens ...    4311
36   225th Street, Laurelton, Queens County, NYC, N...   12263
37   231st Street, Douglaston, Queens, Queens Count...   18379
39   Bowling Green, Broadway, Battery Park City, Ne...   12860
40   Wall Street, Southbridge Towers, New York, NYC...   65159
41   Brooklyn Bridge, DUMBO, Kings County, NYC, New...   90520
42   42nd Street-Grand Central (S,4,5,6,7), East 42...   87214
43   42nd Street-Grand Central (S,4,5,6,7), East 42...  231839
44   42nd Street-Grand Central (S,4,5,6,7), East 42...  111249
..                                                 ...     ...
367  Halsey Street (J), Broadway, Bushwick, Brookly...   12963
371  Rockaway Boulevard (A), Liberty Avenue, Ozone ...   16169
375  Bronx Park East, Bronxdale, Bronx, St. Andrews...    6336
377  Fort Hamilton Parkway, Kensington, Brooklyn, K...   17193
386  Bay 50th Street (D), Stillwell Avenue, Bensonh...    5581
387  Central Avenue, Myrtle Avenue, Bushwick, Kings...    6496
389  Forest Avenue, Putnam Avenue, Ridgewood, Queen...   10126
391  Jackson Avenue (2,5), Westchester Avenue, Melr...   12726
392  Prospect Avenue (2,5), Westchester Avenue, Mel...   16457
394  Simpson Street (2,5), Westchester Avenue, Char...   16921
395  Freeman Street (2,5), Southern Boulevard, Char...   10781
398  Knickerbocker Avenue Station, Myrtle Avenue, B...    8854
405  Ditmas Avenue (F), McDonald Avenue, Parkville,...   12166
406  McDonald Avenue, Kensington, Brooklyn, Kings C...    5089
409  Avenue P (F), McDonald Avenue, Midwood, Brookl...    7527
410  Avenue U (F), McDonald Avenue, Gravesend, King...    5130
414  Pelham Parkway (5), Esplanade Avenue, Morris P...    8354
417  Alabama Avenue (J), Fulton Street, Broadway Ju...    3259
419  Cleveland Street (J), Fulton Street, City Line...    9042
420  Norwood Avenue (J,Z), Fulton Street, City Line...    9443
421  Crescent Street (J,Z), Fulton Street, City Lin...   12126
424  Liberty Avenue (C), Pennsylvania Avenue, Cypre...    5285
425  Van Siclen Avenue (C), Pitkin Avenue, City Lin...    7103
429  138th Street-3rd Avenue (6), Alexander Avenue,...   16400
433  East 149th Street (6), Southern Boulevard, Por...    9494
434  Longwood Avenue (6), Southern Boulevard, Hunts...    7378
436  72nd Street (1,2,3), Broadway, Upper West Side...   97663
437  23rd Street (F,M,PATH), 6th Avenue, Flatiron, ...   28742
443  Canal Street, Broadway, University Village, Ne...   31995
448  AirTrain JFK, Aqueduct Access Road, Howard Bea...   15663

[209 rows x 2 columns]

In [ ]:
def findAddress(x):
    if location:
        x['ADDRESS'] = location.address
    return x

data=data.apply(findAddress, axis=1)